:root {
  --primary-color: #e7d9de;
  --secondary-color: #73466b;
  --accent-color: #7fb2b7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Abril Fatface", cursive;
  --info-font: "Gabriela", serif;
}

body {
  margin: 0 auto;
  background-color: var(--primary-color);
}
h1 {
  font-size: 80px;
  padding-top: 50px;
  font-family: var(--main-font);
}
h1.work {
  font-size: 50px;
}

h2 {
  font-size: 20px;
  font-family: var(--info-font);
  text-align: center;
}

h3,
h4 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--info-font);
}
form {
  display: block;
}
footer {
  margin-top: 20px;
  padding: 10px;
}

.container {
  max-width: 1000px;
}
.intro {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 56px 0;
  text-align: center;
}

.navbar-brand {
  color: white;
}
.navigation-links {
  display: block;
}

.navigation-links a {
  margin: 20px;
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
.nav-item a {
  color: white;
}
.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  background-color: var(--accent-color);
  transition: all 120ms ease-in-out;
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-section {
  margin: 50px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.about-section h1 {
  font-size: 35px;
}
.about-section a.contact-link {
  margin: 93px;
}
#me {
  max-width: 75%;
  margin: 40px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  margin: 0px 120px;
  font-weight: bold;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}
.primary-link:hover {
  background: var(--accent-color);
  color: white;
}
#project-title {
  font-size: 50px;
  font-family: var(--main-font);
}
.social-links a {
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
}
.fa-brands {
  font-size: 20px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#carouselHero {
  margin-left: 50px;
}
.page {
  max-width: 675px;
  margin-right: auto;
  margin-left: auto;
}
.form_label {
  padding-bottom: 10px;
}
#textInput {
  min-height: 150px;
  resize: vertical;
  line-height: 150%;
}
.btn-primary {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-color: #73466b;
}
.btn-primary:hover {
  background-color: var(--accent-color);
  transition: all 120ms ease-in-out;
  border-color: #7fb2b7;
}
#inquiry {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2,
  h3 {
    font-size: 20px;
    text-align: center;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }

  h1.work {
    font-size: 35px;
  }
  .navigation-links {
    text-align: center;
    display: block;
    padding: 10px 5px;
  }
  .primary-link {
    text-align: center;
    display: block;
    margin: 0 50px;
    font-size: 20px;
    font-weight: bold;
  }
  #carouselHero {
    margin: 10px;
  }
  #project-title {
    font-size: 40px;
  }
  #inquiry {
    display: block;
  }
  .page {
    max-width: 300px;
  }
  .btn-primary {
    display: block;
  }
  .about-section {
    margin-top: 20px;
  }
  .about-section a.contact-link {
    margin: 0 auto;
  }
}
