:root {
  --primary-color: #e7d9de;
  --secondary-color: #73466b;
  --accent-color: #7fb2b7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Abril Fatface", cursive;
  --info-font: "Gabriela", serif;
}

body {
  margin: 0 auto;
  background-color: var(--primary-color);
}
h1 {
  font-size: 90px;
  margin: 5px 0;
  font-family: var(--main-font);
}

h2 {
  font-size: 20px;
  font-family: var(--info-font);
}

h3,
h4 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--info-font);
}
.container {
  max-width: 1000px;
}
.intro {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 56px 0;
  text-align: center;
}
.navbar-brand {
  color: white;
}
.navigation-links {
  display: block;
}

.navigation-links a {
  margin: 20px;
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
.nav-item a {
  color: white;
}
.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  background-color: var(--accent-color);
  transition: all 120ms ease-in-out;
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30, 0px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}
.primary-link:hover {
  background: var(--accent-color);
  color: white;
}
#project-title {
  font-size: 50px;
  font-family: var(--main-font);
}
.social-links a {
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
}
.fa-brands {
  font-size: 20px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2,
  h3 {
    font-size: 20px;
    text-align: center;
  }
  p {
    font-size: 18px;
  }
  .navigation-links {
    text-align: center;
    display: block;
    margin-top: 15px;
    padding: 10px 5px;
  }
  .primary-link {
    text-align: center;
    display: block;
    margin: 0 50px;
    font-size: 20px;
    font-weight: bold;
  }
}
